Repository guscsales/red-ventures-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --findRelatedTests --coverage, prettier --write

header desktop
  .DS_Store
  components/container/index.js
  components/container/style.scss
  components/header/index.js
  components/header/style.scss
  components/layout/index.js
  lib/.DS_Store
  lib/scss/colors.scss
  lib/scss/fonts.scss
  lib/scss/main.scss
  lib/scss/mixins.scss
  lib/scss/normalize.scss
  next.config.js
  package-lock.json
  pages/_app.js
  pages/_document.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

home desktop
  components/container/index.js
  components/header/style.scss
  components/home-container/index.js
  components/home-container/style.scss
  lib/.DS_Store
  lib/images/model-r.png
  lib/next-utils/with-custom-plugins.js
  lib/scss/main.scss
  pages/index/index.js
  pages/index/style.scss
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

engine desktop page
  actions/data.js
  actions/tests.js
  components/engine-container/index.js
  components/engine-container/style.scss
  components/head/index.js
  components/title/index.js
  components/title/style.scss
  lib/scss/colors.scss
  lib/scss/grid.scss
  lib/scss/main.scss
  package-lock.json
  package.json
  pages/_app.js
  pages/engine/index.js
  store/data.js
  store/index.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

desktop color page
  components/color-container/index.js
  components/color-container/style.scss
  components/container/index.js
  components/container/style.scss
  components/engine-container/index.js
  components/header/index.js
  components/home-container/index.js
  lib/scripts/money.js
  lib/scss/colors.scss
  lib/scss/grid.scss
  lib/scss/main.scss
  pages/color/index.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

desktop wheels page
  components/color-container/index.js
  components/title/index.js
  components/title/style.scss
  components/wheel-container/index.js
  components/wheel-container/style.scss
  lib/scss/grid.scss
  lib/scss/mixins.scss
  pages/color/index.js
  pages/wheels/index.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

desktop result page / eslint and stylelint updated configs
  .eslintrc.json
  .stylelintrc.json
  components/color-container/index.js
  components/color-container/style.scss
  components/container/style.scss
  components/engine-container/style.scss
  components/header/style.scss
  components/home-container/index.js
  components/home-container/style.scss
  components/layout/style.scss
  components/result-container/index.js
  components/result-container/style.scss
  components/title/style.scss
  components/wheel-container/index.js
  components/wheel-container/style.scss
  lib/scss/colors.scss
  lib/scss/fonts.scss
  lib/scss/grid.scss
  lib/scss/main.scss
  lib/scss/mixins.scss
  lib/scss/normalize.scss
  lib/scss/patterns.scss
  package-lock.json
  package.json
  pages/result/index.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

desktop result bar
  components/color-container/index.js
  components/engine-container/index.js
  components/layout/index.js
  components/result-bar/index.js
  components/result-bar/style.scss
  components/wheel-container/index.js
  lib/scss/colors.scss
  lib/scss/grid.scss
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

mobile main nav
  components/container/style.scss
  components/header/index.js
  components/header/style.scss
  components/layout/index.js
  components/layout/style.scss
  lib/scss/media.scss
  package.json
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

mobile home container
  components/header/index.js
  components/header/style.scss
  components/home-container/style.scss
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

mobile engine page
  components/color-container/index.js
  components/container/index.js
  components/container/style.scss
  components/engine-container/index.js
  components/engine-container/style.scss
  components/header/style.scss
  components/result-bar/index.js
  components/result-bar/style.scss
  components/result-container/index.js
  components/title/style.scss
  lib/scss/grid.scss
  lib/scss/main.scss
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

color mobile page
  components/color-container/index.js
  components/color-container/style.scss
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

wheel mobile page
  components/container/index.js
  components/header/style.scss
  components/wheel-container/index.js
  components/wheel-container/style.scss
  lib/scss/grid.scss
  lib/scss/mixins.scss
  pages/wheel/index.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

mobile result page
  components/result-container/index.js
  components/result-container/style.scss
  lib/scss/grid.scss
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

business rules happy flow
  actions/next-page.js
  actions/result.js
  components/color-container/index.js
  components/color-container/style.scss
  components/engine-container/index.js
  components/engine-container/style.scss
  components/header/index.js
  components/home-container/index.js
  components/result-bar/index.js
  components/result-container/index.js
  components/wheel-container/index.js
  lib/scss/patterns.scss
  package-lock.json
  package.json
  pages/_app.js
  store/index.js
  store/middlewares/index.js
  store/next-page.js
  store/result.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

add progress bar between pages
  actions/step.js
  components/color-container/index.js
  components/engine-container/index.js
  components/header/index.js
  components/home-container/index.js
  components/result-bar/index.js
  components/result-container/index.js
  components/wheel-container/index.js
  lib/constants.js
  package-lock.json
  package.json
  pages/_app.js
  pages/_document.js
  static/css/nprogress.css
  store/index.js
  store/next-page.js
  store/step.js
Due: eslint --fix, jest --findRelatedTests --coverage, prettier --write

actions tests
  __mocks__/file-mock.js
  actions/__tests__/data.js
  actions/__tests__/result.js
  actions/__tests__/step.js
  actions/result.js
  actions/step.js
  components/head/spec.js
  jest.config.js
  store/step.js
Due: eslint --fix, jest --findRelatedTests --coverage

tests for color container
  actions/__mocks__/result.js
  actions/__mocks__/step.js
  components/color-container/index.js
  components/color-container/spec.js
  test-utils/fixtures/data.js
  test-utils/fixtures/result.js
  test-utils/fixtures/step.js
  test-utils/fixtures/store.js
Due: eslint --fix, jest --findRelatedTests --coverage

more unit tests
  actions/__mocks__/result.js
  actions/__mocks__/step.js
  components/container/spec.js
  components/engine-container/index.js
  components/engine-container/spec.js
  components/header/spec.js
  components/home-container/spec.js
  components/result-bar/spec.js
  test-utils/fixtures/result.js
  test-utils/fixtures/step.js
Due: eslint --fix, jest --findRelatedTests --coverage

all tests of containers finished
  actions/__mocks__/result.js
  components/color-container/spec.js
  components/engine-container/spec.js
  components/result-bar/spec.js
  components/result-container/index.js
  components/result-container/spec.js
  components/title/spec.js
  components/wheel-container/index.js
  components/wheel-container/spec.js
  test-utils/fixtures/result.js
Due: eslint --fix, jest --findRelatedTests --coverage

store and lib tests
  lib/scripts/__tests__/money.js
  store/__tests__/data.js
  store/__tests__/result.js
  store/__tests__/step.js
Due: eslint --fix, jest --findRelatedTests --coverage

store and libs tests and coverage threshold
  jest.config.js
Due: eslint --fix, jest --findRelatedTests --coverage

update readme and commands to run like final env
  README.md
  package.json
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  jest --findRelatedTests --coverage: any of: *.js
  prettier --write: any of: *.{css,scss}
